{# {% extends "../../index.twig" %} #}


<div class="book">
    <div class="book__title">{{bookTitle}}</div>
    <div class="book__time">{{bookTime}}</div>
    <div class="book__image">
        <img class="book__img" src="{{bookPicture}}" alt="">
    </div>
    
    <div class="book__chapter">{{bookChapter}}</div>
    <div class="book__name">{{bookName}}</div>
    <div class="book__author">{{bookAuthor}}</div>
    <div class="book__price">{{bookPrice}}</div>
    <form class="book__form" action="">
        <button class="book__busket-btn">
            {% include 'assets/svg/busket-orange.svg' %}
            <span>В корзину</span>
        </button>
        <button class="book__posponed-btn">{% include 'assets/svg/postponed.svg' %}</button>
    </form>
</div>

