<div class="books">

	<a class="books__link-new" href="#">Новинка</a>
	<a class="books__link-promotion" href="#">1+1=3</a>

	<a href="#">
		{# <img class="books__img" src="{{imgPath}}" alt="books"> #}
		<picture>
			<source srcset="./img/books1.webp" type="image/webp">
			<img class="books__img" src="./img/books1.jpg" alt="news_img">
		</picture>
	</a>

	<a class="books__link-theme" href="#"><h3>{{textTheme}}</h3></a>

	<a class="books__p-name" href="#">{{textName}}</a>
	<a class="books__link-author" href="#">{{textAuthor}}</a>

	<div class="books__prise-section">
		<a class="books__link-price books__link-price--red" href="#">{{textPrice}}</a>
		<a class="books__link-price books__link-price--old" href="#">{{textPriceOld}}</a>
		<a class="books__link-price books__link-price--profit" href="#">{{textPriceProfit}}</a>
	</div>


	<div class="books__rating">
		<a class="books__link-rating" href="#">
			{% include 'assets/svg/rating.svg' %}
			<span>4.9</span>
		</a>
		<a class="books__link-rec" href="#">
			{% include 'assets/svg/likeBooks.svg' %}
			<span>89% рекомендуют</span>
		</a>
	</div>

	<form class="books__form" action="#">
		<button class="books__busket-btn">
			{% include 'assets/svg/busket-orange.svg' %}
			<span>В корзину</span>
		</button>
		<button class="books__posponed-btn">{% include 'assets/svg/postponed.svg' %}</button>
	</form>
</div>